

.divGlobal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f4f4;
    padding-bottom: 40px;
    margin-bottom: -500px;
}
.LogoPerspektiva{
    background-image: url("https://pbs.twimg.com/profile_images/1366552124511944706/l7Y2oyq8_400x400.jpg");
    width: 100px;
    height: 100px;
    background-position:  center;
    background-size: cover;
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    border-radius: 50px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.575);

}

.container{
    margin-top: 100px;
    width: 700px;
    border: solid 2px #803cd4;
    border-radius: 25px;
    padding-bottom: 50px;
    
    
}

.containerName{
    background-color: #803cd4;
    margin-top: 0px;
    margin-left: 200px;
    padding-top: 1px;
    width: 300px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nameForm{
    padding-top: 40px;
    padding-bottom: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'roboto', sans-serif;

}

.btn{
    background-color: #803cd4;
    border: transparent;
    color: white;
    padding: 10px;
    border-radius: 25px;
    width: 250px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'roboto', sans-serif;

}

.btnBack{
    background-color: #f8f4f4;
    padding: 10px;
    border-radius: 25px;
    width: 250px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    top:490px;
    left: 40%;
}

.input{
    border: 0px transparent;
    margin-left: 20px;
    margin-right: 20px;
    width: 280px;

}
.input::placeholder{
    color: rgba(0, 0, 0, 0.301);
    font-family: 'roboto', sans-serif;

}
.input:focus{
    outline: none;
}



.inputGenero{
    border: transparent;
    margin-left: 20px;
    width: 80px;
    height: 33px;
    background-color: white;
}
.inputGenero::placeholder{
    color: rgba(0, 0, 0, 0.301);
    font-family: 'roboto', sans-serif;

}
.inputGenero:focus{
    outline: none;
}


.inputCiudad{
    border: transparent;
    margin-left: 20px;
    margin-right: 20px;
    width: 280px;
    height: 33px;
}
.inputCiudad::placeholder{
    color: rgba(0, 0, 0, 0.301);
}
.inputCiudad:focus{
    outline: none;
}
.genero {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.divRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.radius{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12px;
    color: rgb(0, 195, 255);
    font-weight: 800;
}

.radius input[type=radio]{
    border: 0px transparent;
    width: 30px;
    height: 3rem;

    
}
.icon{
    background-color: white;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 260px;
    height: 40px;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.349);

}

.iconGenero{
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 120px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    margin-right: 25px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.349);


}

.iconCiudad{
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 260px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    margin-left: 30px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.349);
}

.txt{
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.301);
    font-size: 12px;
}

.btnInicio{
    border: transparent;
    background-color: transparent;
    color: #803cd4;
    font-weight: 700;
    cursor: pointer;
    margin-top: -10px;
    font-family: 'roboto', sans-serif;

}

.dangerCorreo{
    color: red;
    font-size: 10px;
    text-align: center; 
    position: absolute;
    top: 320px;
    left: 57%;
}

.dangerPassword{
    color: red;
    font-size: 10px;
    text-align: center; 
    position: absolute;
    top: 390px;
    left: 57%; 
}

 